<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h2 style="display: inline;">Staging - Farm 01</h2>
                <button class="btn btn-link server-details">
                    <i class="fa fa-arrows-alt"></i> more details
                </button>
            </div>    
        </div>
        <!-- /.col-lg-12 -->
    </div>
    @Html.Partial("Totals")
    <div class="row">
        @Html.Partial("ServerMaster")
        @Html.Partial("ServerMaster")
        @Html.Partial("ServerMaster")
        @Html.Partial("ServerMaster")
        @Html.Partial("ServerMaster")
        @Html.Partial("ServerSlave")
        @Html.Partial("ServerSlave")
        @Html.Partial("ServerSlave")
        @Html.Partial("ServerSlave")
        @Html.Partial("ServerSlave")
    </div>
    <!-- /.row -->
</div>
