@using Redis.Dashboard.Web.Models;

@model ServersTotals

@{
    var totalMemory = (Model != null && !string.IsNullOrEmpty(Model.TotalMemory)) ? Model.TotalMemory : "-";
    var totalKeys = (Model != null && !string.IsNullOrEmpty(Model.TotalKeys)) ? Model.TotalKeys : "-";
    var totalClients = (Model != null && !string.IsNullOrEmpty(Model.TotalClients)) ? Model.TotalClients : "-";
    var totalOps = (Model != null && Model.TotalOps> 0) ? Model.TotalOps + "/sec" : "-";
    var totalNetwork = (Model != null && Model.TotalInputKbps > 0) ? Model.TotalInputKbps + " / " + Model.TotalOutputKbps : "-";
    var totalHits = (Model != null && !string.IsNullOrEmpty(Model.TotalHits)) ? Model.TotalHits + " / " + Model.TotalMisses : "-";
    var infoCluster = (Model != null && !string.IsNullOrEmpty(Model.InfoCluster)) ? Model.InfoCluster : "-";
}

<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-microchip fa-4x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">@totalMemory</div>
                        <div>Total Memory</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-clone fa-4x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">@totalKeys</div>
                        <div>Total Keys</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-gear fa-4x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">@totalOps</div>
                        <div>Ops/sec</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-users fa-4x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">@totalClients</div>
                        <div>Total Clients</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-info fa-4x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="big">@infoCluster</div>
                        <div>Total Clients</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-bullseye fa-4x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="big">@totalHits</div>
                        <div>Total Hits/Misses</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-exchange fa-4x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="big">@totalNetwork</div>
                        <div>In/Out in kbps/sec</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
