@using Redis.Dashboard.Web.Models;

@model GroupServerPageModel


@if (Model != null)
{
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h2 style="display: inline;">@Model.GroupTitle - @Model.ServerGroup.Title</h2>
                <button class="btn btn-link server-details">
                    <i class="fa fa-arrows-alt"></i> more details
                </button>
            </div>
        </div>
    </div>
    @Html.Partial("Totals", Model.Totals)
    <div class="row">
        @foreach (var server in Model.Servers)
        {
            if (server.Replication.Role.Equals("master", StringComparison.InvariantCultureIgnoreCase))
            {
                @Html.Partial("ServerMaster", server)
            }
            else
            {
                @Html.Partial("ServerSlave", server)
            }
        }
    </div>

    <script>
        setTimeout(function() { LoadData('/LoadData/@Model.ServerGroup.FriendlyUrl') }, 1000);
    </script>
}
